@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

.card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.jumbotron{
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    height: 668px;
    width: auto;

}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Home Page */

h1, h6 {
    font-family: 'Mulish', sans-serif;
}

.porting{
    background-image: url(../images/4.jpg);
    background-size: cover;
    height: 668px;
    width: auto;
}

.container{
    position: relative;
    bottom: 10px;
    width: 50%;
    top: 30%;
}

/* /Home Page */

/* About Us */

p{
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

/* /About Us */

/* Portfolio */
.portimg {
    float: right;
    position: relative;
    margin: 5px;
    /*color: #333;*/
}
.portimg .porttext {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: darkslategrey;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}
/* /What We Do */
