{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}



<div class="container">

  <body>
    <div class="container-fluid">
        <!-- Home Page -->
        <div class="jumbotron">
            <div class="container">
                <!-- <img src="./images/logo.png" alt="logo" class="mx-auto d-block"> -->
                <h1 class="text-white text-center welcome h-text">Welcome</h1>
                <h1 class="text-white text-center delani h-text">TO Nostalgic</h1>
                <h6 class="text-white text-center text h-text smaller-text">We bring you to the past you are craving in this wonderful future</h6>
                <!-- <a href="#about"><img src="./images/mouse_click.png" class="mx-auto d-block click" alt="mouse click" id="bounce"></a> -->
            </div>
        </div>
        <!-- /Home Page -->

        <!-- About -->
        <div class="about" id="about">
            <h1 class="text-center">ABOUT US</h1>
            <p>
              Nostalgia is a medicine, it makes people feel that their life have roots and continuity. 
            </p>
            <p>
              It made people feel good about themselves and their relationships. 
            </p>
            <p>
              It provided a texture to peoples lives and gave them strength to move forward.<br> Nostalgia brings pictures that allow a person to travel to their past and collect the memories they left there.
            </p>
        </div>
        <!-- /About -->
        <br>

        <!-- Gallery -->
        <div class="portfolio container-fluid">
          <div class="container">

            <!-- Looping through news   -->
            {% for news_item in news %}
            <div class="col-md-4">
              <div class="card">
              <div class="row">
                <div class="card text-center">
                  <div class="card-header">
                    <img class="text-center" src="{{news_item.article_image.url}}" class="img-responsive" width="250px" height="200px" alt="Image">
                  </div>
                  <div class="card-body">
                    <h2 class="text-center"> {{ news_item.title }} </h2>
                    <h2 class="text-center"> {{ news_item.post }} </h2>
                  </div>
                </div>       
              </div> 
            </div>             
            </div>
            {% endfor %}
            <br> <br> <br> <br>
          </div>          
  
        </div>
        <!-- /Gallery -->
        <br>
        <!-- Footer -->
        <footer class="text-center">Nostalgic <br>  ©  2020</footer> 
        <!-- /Footer -->
    </div>    
  </body>
  <!-- <video class="video-intro" autoplay loop muted>
    <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4" >
  </video> -->

</div>



{% endblock %}

